<section class="request">
	<div class="request__body container section-padding">
		<h2 class="request__title section-title">Готовы навести порядок в налогах и спать спокойно?</h2>
		<div class="request__content">
			<div class="request__advantages">
				<div class="request__advantage">
					<div class="request__advantage-icon">
						<img src="img/req-1.svg" width="80" height="80" alt="icon">
					</div>
					<div class="request__advantage-text">
						Гарантия полной конфиденциальности по
																														                  договору (NDA)
					</div>
				</div>
				<div class="request__advantage">
					<div class="request__advantage-icon">
						<img src="img/req-2.svg" width="80" height="80" alt="icon">
					</div>
					<div class="request__advantage-text">
						Финансовая гарантия результата в договоре
					</div>
				</div>
				<div class="request__advantage">
					<div class="request__advantage-icon">
						<img src="img/req-3.svg" width="80" height="80" alt="icon">
					</div>
					<div class="request__advantage-text">
						Гарантия соблюдения сроков
					</div>
				</div>
			</div>
			<div class="request__form">
				<div class="hero__request">
					<form class="hero__request-form">
						<div class="hero__request-form-item">
							<div class="hero__request-form-label">Имя</div>
							<div class="hero__request-form-area">
								<input type="text" name="name" autocomplete="name" placeholder="Имя" required>
								<svg class="hero__request-form-icon">
									<use xlink:href="img/icons/icons.svg#icon-user"></use>
								</svg>
							</div>
						</div>
						<div class="hero__request-form-item">
							<div class="hero__request-form-label">Номер телефона</div>
							<div class="hero__request-form-area">
								<input type="text" name="phone" class="tel-mask" autocomplete="tel" placeholder="Номер телефона" required>
								<svg class="hero__request-form-icon">
									<use xlink:href="img/icons/icons.svg#icon-phone-2"></use>
								</svg>
							</div>
						</div>
						<div class="hero__request-form-agree">
							<label class="agree">
								<input type="checkbox" name="policy" value="agree" required>
								<span class="agree__box"></span>
								<span class="agree__text">
									Я соглашаюсь с
									<a href="">Политикой конфиденшиальности</a>
									и даю согласие
																																										                        на
									<a href="">обработку персональных данных</a>
								</span>
							</label>
						</div>
						<div class="hero__request-form-footer">
							<div class="hero__request-form-actions">
								<button type="submit" class="btn">Получить бесплатную консультацию</button>
								<a href="" class="hero__request-link" aria-label="telegram">
									<svg>
										<use xlink:href="img/icons/icons.svg#icon-telegram"></use>
									</svg>
								</a>
							</div>
						</div>
					</form>
					<div class="hero__request-adv">
						<div class="hero__request-adv-item">
							<picture>
								<source media="(max-width: 767px)" srcset="img/icons/check-oct-gold.svg">
								<img src="img/icons/guarantee.svg" width="16" height="16" alt="icon">
							</picture>
							Сертифицированные налоговые специалисты
						</div>
						<div class="hero__request-adv-item">
							<picture>
								<source media="(max-width: 767px)" srcset="img/icons/check-oct-gold.svg">
								<img src="img/icons/guarantee.svg" width="16" height="16" alt="icon">
							</picture>
							100% Безопасно
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="particles-js"></div>
</section>
