@font-face {
	font-family: PTSans;
	font-display: swap;
	src: url("../fonts/PTSans-Caption-Bold.woff2") format("woff2"), url("../fonts/PTSans-Caption-Bold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PTSans;
	font-display: swap;
	src: url("../fonts/PTSans-Caption-Regular.woff2") format("woff2"), url("../fonts/PTSans-Caption-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
